.divPage {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    min-height: calc(100vh - 192px);
    padding: 20px 0;
    align-items: center;
}

.cardContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
}

.cardConsulta {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.divCadastroConsulta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}