.topo {
    /* background-color: var(--primary); */
    background-color: var(--primary);
    height: 64px;
    max-width: 100%;
    padding: 16px 64px;
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}

.topo h2 {
    color: var(--white);
    line-height: 32px;
}

@media (max-width: 1240px) {
    .topo {
        padding: 16px 32px;
    }
}