.adminContainer {
    /* background-color: blue; */
    box-sizing: border-box;
    min-height: calc(100vh - 192px);
    padding: 60px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}