#root {
  --cor-primaria: #007bff; /* Vari치vel global */
  --cor-secundaria: #6c757d; /* Vari치vel global */
  --primary: #e20000; /* Vari치vel global */
  --white: #ffffff; /* Vari치vel global */
  --accent: #bae8e8;
  /* --espacamento-padrao: 10px; */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}